<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!-- app/views/which_filesets/show.html.erb -->
<%- @title = "Which Filesets for #{@path}" -%>
<ul>
  <%- if @files.length == 0 -%>
    Did not find any shipped files matching <%= @path %>
  <%- else -%>
    <%- @files.each do |file| -%>
      <li><%= h file.path -%></li>
      <ul>
	<%- file.filesets.map{ |fileset| fileset.lpp.name }.sort.uniq.each do |lpp| -%>
	  <li><%= h lpp %></li>
	<%- end -%>
      </ul>
    <%- end -%>
  <%- end -%>
</ul>
