<h1>New lpp_base</h1>

<%= error_messages_for :lpp_base %>

<% form_for(@lpp_base) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', lpp_bases_path %>
