<p>
  <b>Image path:</b>
  <%=h @image_path_fileset_map.image_path_id %>
</p>

<p>
  <b>Fileset:</b>
  <%=h @image_path_fileset_map.fileset_id %>
</p>


<%= link_to 'Edit', edit_image_path_fileset_map_path(@image_path_fileset_map) %> |
<%= link_to 'Back', image_path_fileset_maps_path %>
