<p>
  <b>Apar:</b>
  <%=h @apar_ptf_map.apar_id %>
</p>

<p>
  <b>Ptf:</b>
  <%=h @apar_ptf_map.ptf_id %>
</p>


<%= link_to 'Edit', edit_apar_ptf_map_path(@apar_ptf_map) %> |
<%= link_to 'Back', apar_ptf_maps_path %>
