<p>
  <b>Apar:</b>
  <%=h @apar_defect_map.apar_id %>
</p>

<p>
  <b>Defect:</b>
  <%=h @apar_defect_map.defect_id %>
</p>


<%= link_to 'Edit', edit_apar_defect_map_path(@apar_defect_map) %> |
<%= link_to 'Back', apar_defect_maps_path %>
