<!-- views/scm/no_ldap_failure.html.erb -->
<!-- called with @exception set -->
<p>
  This should never happen but Condor is unable to find your Bluepages LDAP entry.
</p>
<p>
  I'm not sure what to suggest other than try and start a fresh
  browser and see if it happens again.
</p>
