<!-- views/scm/popen_failed.html.erb -->
<!-- called with @exception set -->
<p>
  The command:
  <pre>
    <%= h @exception.cmd.gsub(/  +/, ' ') %>
  </pre>
  failed with exit status of <%= @exception.exit_status.exitstatus %><br />
  Standard Error was:
  <pre>
  <% @exception.stderr.each do |line| -%>
    <%= h line.chomp %>
  <% end -%>
  </pre>
  <% if (md = /0010-057 Login (\S+) on host (\S+)/.match(@exception.stderr[0])) %>
    The command: <br />
    <%= "Host -create #{md[1]}@#{md[2]} -become #{application_user.cmvc.login} -family aix"%>
    <br />
    from a host you already have CMVC access from will provide the
    access Condor is needing for.
  <% end %>
</p>
