<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!-- views/scm/popen_failed.html.erb -->
<!-- called with @exception set -->
<p>
  Condor is trying to find your CMVC id but failed.  Condor found your
  <q>uid</q> from Bluepages but did not find a matching CMVC id.
</p>
<p>
  You probably need to contact Perry to manually set up a CMVC id.
</p>
