html {
    height: 98%;
}

body {
    height: 100%;
}

pre {
    padding: 0px;
    margin: 0px;
}

pre.change {
    background-color: #ffff80;
}

pre.discard-a {
    background-color: pink;
}

pre.discard-b {
    background-color: lightGreen;
}

#control-table {
    display: table;
    width: 100%;
    height: 4%;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
}

#control {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#top-title-table {
    display: table;
    border-style: solid;
    width: 100%;
    border-width: 1px 1px 0px 1px;
    height: 4%;
    padding: 0px;
    overflow: auto;
}

#top-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#top {
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    width: 100%;
    height: 43%;
    padding: 0px;
    overflow: auto;
}

#bot-title-table {
    display: table;
    width: 100%;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    height: 4%;
    padding: 0px;
    overflow: auto;
}

#bot-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#bot {
    border: solid 1px;
    width: 100%;
    height: 43%;
    padding: 0px;
    overflow: auto;
}
