body {
    background-color: lightblue;
}

/* We want the info to line up at the top */
#ptfapardef_table td {
    vertical-align: top;
}

/* The list of commands for the defect */
#ptfapardef_table td ul {
    border: 4px outset grey;
    background-color: lightblue;
    list-style-type: none;
    margin: 2px;
    padding-left: 5px;
}

#ptfapardef_table caption {
    caption-side: bottom;
    text-align: left;
}

#ptfapardef_table caption p {
    margin: 8px 0 0 0;
}

#ptfapardef_table caption ul {
    margin: 0;
}

#ptfapardef_table table {
    border: 1px solid black;
}

#ptfapardef_table thead {
    background-color: gold;
}

#ptfapardef_table tfoot {
    display: none;
}

#ptfapardef_table tbody td {
    padding: 1px 3px;
}

#ptfapardef_table tr.nth-1 { background-color: rgb(200, 200, 200); }
#ptfapardef_table tr.nth-2 { background-color: rgb(225, 225, 225); }
#ptfapardef_table tr.nth-3 { background-color: rgb(200, 200, 200); }
#ptfapardef_table tr.nth-4 { background-color: rgb(225, 225, 225); }
