<h1>New ptf</h1>

<%= error_messages_for :ptf %>

<% form_for(@ptf) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', ptfs_path %>
