<p>
  <b>Package:</b>
  <%=h @package_fileset_map.package_id %>
</p>

<p>
  <b>Fileset:</b>
  <%=h @package_fileset_map.fileset_id %>
</p>


<%= link_to 'Edit', edit_package_fileset_map_path(@package_fileset_map) %> |
<%= link_to 'Back', package_fileset_maps_path %>
