<%- @title = "Package Fileset Map #{@package_fileset_map.id}" -%>
<p>
  <b>Package:</b>
  <%=h @package_fileset_map.package_id %>
</p>

<p>
  <b>Fileset:</b>
  <%=h @package_fileset_map.fileset_id %>
</p>
