<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!-- app/views/package_fileset_maps/show.html.erb -->
<%- @title = "Package Fileset Map #{@package_fileset_map.id}" -%>
<p>
  <b>Package:</b>
  <%=h @package_fileset_map.package_id %>
</p>

<p>
  <b>Fileset:</b>
  <%=h @package_fileset_map.fileset_id %>
</p>
