<!-- app/views/swinfos/show.xhtml.erb -->
<%-
   @title = "swinfo for #{@param}"
   add_stylesheets("swinfos")
   add_javascripts("prototype")
   spry_json_dataset("ds1", url_for(), "path" => "ptfapardef")
   add_javascripts("swinfos")
   need_clipboard_assets
   -%>
<h2><%= @title %></h2>
<div id="ptfapardef_table" spry:region="ds1">
  <table rules='rows'>
    <caption>
      <p>
	Instructions:
      </p>
      <ul>
	<li>Click on defect, apar, ptf, lpp, or vrmf to surf around within
	  "swinfo" data</li>
	<li>Click column headers to sort by that column</li>
	<li>Click on List to see a list of other links
	  <ul>
	    <li>View Defect takes you to a page with the defect, etc</li>
	    <li>Defect Changes takes you to a page with the change for the
	      defect</li>
	    <li>Fileset info provides where this fileset shipped and what it
	      shipped</li>
	  </ul>
	</li>
      </ul>
    </caption>
    <thead>
      <tr>
	<th></th>
	<th spry:sort="defect">Defect</th>
	<th spry:sort="apar">APAR</th>
	<th spry:sort="ptf">PTF</th>
	<th>Abstract</th>
	<th spry:sort="lpp">LPP</th>
	<th spry:sort="vrmf">VRMF</th>
	<th spry:sort="release">Release</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
	<td></td>
      </tr>
    </tfoot>
    <tbody>
      <tr spry:repeat="ds1" class="{function::Condor.swinfos.row_class}">
	<td>{ds_RowNumberPlus1}</td>
	<td>
	  {function::Condor.swinfos.defect_text}
	  <ul style='display: none;'>
	    <li>
	      <a href='{defect_path}'>Show CMVC Defect {defect}</a>
	    </li>
	    <li>
	      <a href='{changes_path}'>Show Changes for {defect}</a>
	    </li>
	    <li class='copy-to-clipboard'>
	      {defect}
	    </li>
	  </ul>
	</td>
	<td>
	  {function::Condor.swinfos.apar_text}
	  <ul style='display: none;'>
	    <li class='copy-to-clipboard'>
	      {apar}
	    </li>
	  </ul>
	</td>
	<td>
	  {function::Condor.swinfos.ptf_text}
	  <ul style='display: none;'>
	    <li class='copy-to-clipboard'>
	      {ptf}
	    </li>
	  </ul>
	</td>
	<td>
	  {function::Condor.swinfos.abstract_text}
	  <ul style='display: none;'>
	    <li class='copy-to-clipboard'>
	      {abstract}
	    </li>
	  </ul>
	</td>
	<td>
	  {function::Condor.swinfos.lpp_text}
	  <ul style='display: none;'>
	    <li class='copy-to-clipboard'>
	      {lpp}
	    </li>
	  </ul>
	</td>
	<td>
	  {function::Condor.swinfos.vrmf_text}
	  <ul style='display: none;'>
	    <li>
	      <a href='{fileset_path}'>Show Fileset Data</a>
	    </li>
	    <li class='copy-to-clipboard'>
	      {vrmf}
	    </li>
	  </ul>
	</td>
	<td>
	  {function::Condor.swinfos.release_text}
	  <ul style='display: none;'>
	    <li class='copy-to-clipboard'>
	      {release}
	    </li>
	  </ul>
	</td>
      </tr>
    </tbody>
  </table>
</div>
