<p>
  <b>Fileset:</b>
  <%=h @fileset_aix_file_map.fileset_id %>
</p>

<p>
  <b>Aix file:</b>
  <%=h @fileset_aix_file_map.aix_file_id %>
</p>


<%= link_to 'Edit', edit_fileset_aix_file_map_path(@fileset_aix_file_map) %> |
<%= link_to 'Back', fileset_aix_file_maps_path %>
