<!-- app/views/service_pack_fileset_maps/show.html.erb -->
<%- @title = "Service Pack Fileset Map #{@service_pack_fileset_map.id}" -%>
<p>
  <b>Service pack:</b>
  <%=h @service_pack_fileset_map.service_pack_id %>
</p>

<p>
  <b>Fileset:</b>
  <%=h @service_pack_fileset_map.fileset_id %>
</p>
