<%# -*- coding: utf-8 -*- -%>
<%#
 Copyright 2007-2011 Ease Software, Inc. and Perry Smith
 All Rights Reserved
-%>
<!-- app/views/image_paths/index.html.erb -->
<%- @title = "Index of Image Paths"
<table>
  <tr>
    <th>Top Level Paths</th>
  </tr>

<% for image_path in @image_paths %>
  <tr>
    <td><%= link_to image_path.base_path, image_paths_path(image_path.base_path) %></td>
  </tr>
<% end %>
</table>
